@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding:0;
    margin:0;
}

.containerNativo{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.containerElementos{
    box-sizing: border-box;
    margin: 10vh;
    width: 30vw;
    height: 30vh;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10vh;
}

h3{
    margin: 5px;
}

label{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif; 
    margin: 30px 0 15px 0;
}

input{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #D9D4D6;   
}

button{
    border-radius: 5px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    margin: 15px;
    width: 180px;  
    height: 30px;
    border: none;
    background-color: #330033;
}